<section class="no-padding" id="challenges">
    <div class="container">

        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h1>{{ .Site.Params.challenges.title }}</h1>
            <h3>{{ .Site.Params.challenges.subtitle }}</h3>
            <h2>{{ .Site.Params.challenges.sentence }}</h2>
          </div>
        </div>
        <div class="row no-gutter">
            {{ range .Site.Data.projects }}
                <div class="col-lg-4 col-sm-6">
                    <a href="#challengesModal{{ .modalID }}" class="challenges-box challenges-link" data-toggle="modal">
                        <img src="img/challenges/{{ .img }}_cropped.jpg" class="img-responsive" alt="">

                        <div class="challenges-heading">
                            <div class="project-number">
                                <h1>.{{ .modalID }}</h1>
                            </div>

                            <div class="project-name">
                                <h1>{{ .title }}</h1>
                            </div>
                        </div>

                        <div class="challenges-box-caption">
                            <div class="challenges-box-caption-content">
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</section>
