{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
    <div class="challenges-modal modal fade" id="challengesModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container modal-body">
                <div class="row">
                    <button type="button" class="btn close" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="img/challenges/{{ .img }}" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2>{{ .title }}</h2>
                        <hr class="star-primary">
                        <p class="text-faded">{{ .description | markdownify }}</p>
                    </div>
                </div>

                <div class="row">
                    <ul class="list-inline item-details">
                        <li>
                            {{ with $.Site.Params.challenges.modal.client }}{{.}}{{ end }}:
                            <strong>
                                <a href="{{ .clientLink }}">{{ .client }}</a>
                            </strong>
                        </li>
                        <li>
                            {{ with $.Site.Params.challenges.modal.date }}{{.}}{{ end }}:
                            <strong>
                                <a href="#">{{ .date }}</a>
                            </strong>
                        </li>
                        <li>
                            {{ with $.Site.Params.challenges.modal.category }}{{.}}{{ end }}:
                            <strong>
                                <a href="#">{{ .category }}</a>
                            </strong>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
{{ end }}
