{{ "<!-- CONTACT -->" | safeHTML }}
<section id="plug">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    {{ with .Site.Params.plug.headline }}{{ . }}{{ end }}
                </h2>
                <br>

                <hr class="primary">
                <h4>{{.Site.Params.plug.email }}</h4>
                <br>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{range .Site.Params.plug.social}}
                    <a href="{{.link}}" target="_blank" class="fa fa-4x {{ .icon}} wow bounceIn text-primary social-icn" style="visibility: visible; animation-name: bounceIn;">
                        <h3>{{.social }}</h3>
                    </a>
                {{end}}
            </div>
        </div>
    </div>
</section>
